@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@



@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Us</h1>

<p>At Movie Fusion, we're always here to help. Whether you have a question about our services, need assistance with your account, or want to share your feedback, we're all ears. Our team is dedicated to providing you with the support you need to ensure the best movie-watching experience possible.</p>

<h2>Get in Touch</h2>
<p>Have a question or concern? Our customer service team is available to assist you. Reach out to us via email at support@moviefusion.com, and we'll get back to you as soon as possible.</p>

<h2>Feedback & Suggestions</h2>
<p>Your feedback is invaluable to us. If you have suggestions on how we can improve or compliments on what we're doing right, please let us know. We're committed to continuous improvement and value your input.</p>

<h2>Press & Media</h2>
<p>For press inquiries and media-related questions, please contact our public relations team at pr@moviefusion.com. We're happy to provide information and resources about Movie Fusion and our latest initiatives.</p>

<h2>Follow Us</h2>
<p>Stay connected with Movie Fusion on social media for the latest news, updates, and exclusive offers. Follow us on Twitter, Facebook, and Instagram.</p>

<p>We look forward to hearing from you!</p>