@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

@*     <h1>MOVIE FUSION</h1> *@
   @*  <video autoplay loop>

        <source src="./css/Assests/IntroVideo - Made with Clipchamp.mp4" />
    </video> *@

    
    <div class="Container-1">

       
        <video autoplay muted loop class="background-video">
            <source src="./css/Assests/IntroVideo - Made with Clipchamp.mp4">
        </video>
            <Button>Explore More!!</Button>
       

    </div>

    <section>

        <div class="Container-2">

            <h1>Must Watch!!</h1>


            <div class="container text-center">
                <div class="row align-items-start">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="./css/Assests/M1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Avengers</h5>
                                <a href="#" class="btn btn-primary">Watch</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="./css/Assests/M1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Avengers</h5>
                                <a href="#" class="btn btn-primary">Watch</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="./css/Assests/M1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Avengers</h5>
                                <a href="#" class="btn btn-primary">Watch</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="./css/Assests/M1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Avengers</h5>
                                <a href="#" class="btn btn-primary">Watch</a>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>

        </div>

    </section>
 
</div>
