@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

@*     <h1>MOVIE FUSION</h1> *@
   @*  <video autoplay loop>

        <source src="./css/Assests/IntroVideo - Made with Clipchamp.mp4" />
    </video> *@


    <section>
        <video autoplay muted loop class="background-video">
            <source src="./css/Assests/IntroVideo - Made with Clipchamp.mp4">
            Your browser does not support the video tag.
        </video>

    </section>

    <section>

        <div class="Container-2">

            <h1>hiii89i</h1>

        </div>

    </section>
 
</div>
