@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

@*     <h1>MOVIE FUSION</h1> *@
   @*  <video autoplay loop>

        <source src="./css/Assests/IntroVideo - Made with Clipchamp.mp4" />
    </video> *@

    



    <div class="Container-1">
        <video autoplay muted loop class="background-video">
            <source src="./css/Assests/IntroVideo - Made with Clipchamp.mp4">
        </video>
            <Button>Explore More!!</Button>
       

    </div>

    <section>

        <div class="Container-2">

            <h1>Must Watch!!</h1>


            <div class="container text-center">
                <div class="row align-items-start">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="./css/Assests/M1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Avengers</h5>
                                <a href="#" class="btn btn-primary">Watch</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="./css/Assests/M1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Avengers</h5>
                                <a href="#" class="btn btn-primary">Watch</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="./css/Assests/M1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Avengers</h5>
                                <a href="#" class="btn btn-primary">Watch</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="./css/Assests/M1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Avengers</h5>
                                <a href="#" class="btn btn-primary">Watch</a>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>

        </div>


    </section>



    <section>

        <div class="Container-3">

            <h1>Our Hot Deals</h1>

            <div class="container text-center">
                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                    <div class="col">
                        <video autoplay muted loop>
                            <source src="./css/Assests/IntroVideo - Made with Clipchamp.mp4">
                        </video>
                    </div>
                    <div class="col">
                        <video autoplay muted loop>
                            <source src="./css/Assests/IntroVideo - Made with Clipchamp.mp4">
                        </video>
                    </div>
                    <div class="col">
                        <video autoplay muted loop >
                            <source src="./css/Assests/IntroVideo - Made with Clipchamp.mp4">
                        </video>
                    </div>
                    <div class="col">
                        <video autoplay muted loop>
                            <source src="./css/Assests/IntroVideo - Made with Clipchamp.mp4">
                        </video>
                    </div>
                    <div class="col">
                        <video autoplay muted loop >
                            <source src="./css/Assests/IntroVideo - Made with Clipchamp.mp4">
                        </video>
                    </div>
                    <div class="col">
                        <video autoplay muted loop >
                            <source src="./css/Assests/IntroVideo - Made with Clipchamp.mp4">
                        </video>
                    </div>
                    <div class="col">
                        <video autoplay muted loop >
                            <source src="./css/Assests/IntroVideo - Made with Clipchamp.mp4">
                        </video>
                    </div>
                    <div class="col">
                        <video autoplay muted loop>
                            <source src="./css/Assests/IntroVideo - Made with Clipchamp.mp4">
                        </video>
                    </div>
                    <div class="col">
                        <video autoplay muted loop >
                            <source src="./css/Assests/IntroVideo - Made with Clipchamp.mp4">
                        </video>
                    </div>
                    <div class="col">
                        <video autoplay muted loop >
                            <source src="./css/Assests/IntroVideo - Made with Clipchamp.mp4">
                        </video>
                    </div>
                </div>
            </div>




        </div>


    </section>




    <section>

        <div class="Container-4">
            <div class="container-41">
                <h1> Query Form</h1>
                <form id="queryForm" action="#" method="post">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required pattern="[A-Za-z\s]+" title="Please enter your name using only letters and spaces.">

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="phone">Phone:</label>
                    <input type="tel" id="phone" name="phone" required pattern="^\d{10}$" title="Please enter a valid 10-digit phone number.">

                    <label for="movie">Favorite Movie:</label>
                    <input type="text" id="movie" name="movie" required>

                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="4" required></textarea>

                    <button type="submit">Submit</button>
                </form>
            </div>

        </div>

    </section>
 
</div>
